body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTAINER */
.container {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
}

/* BUSCA */
.busca {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #00eaff;
    cursor: pointer;
}

/* CLIMA */
.clima img {
    width: 80px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* ERRO */
.erro {
    color: #ff4d4d;
    margin-bottom: 10px;
    font-size: 14px;
}

/* LOADING */
.loading {
    display: none;
    margin: 15px auto;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.2);
    border-top: 4px solid #00eaff;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}