html {
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #0f172a;
    color: #e2e8f0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing: border-box;
    height: 100px;
    animation: slideDown 0.6s ease;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

nav{
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #e2e8f0;
    padding: 5px 10px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

nav a {
    position: relative;
    margin-left: 20px;
    text-decoration: none;
    color: #e2e8f0;
    font-weight: 500;
    transition: 0.3s;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00eaff;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #00eaff;
    transform: translateY(-2px);
}


section {
    padding: 100px 20px;
    transition: 0.4s;
    scroll-margin-top: 80px;
}

.section-ativa {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
    border-radius: 10px;
}

#hero {
    min-height: 40vh;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at top, #1e293b, #0f172a);
}

#hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

#hero p {
    font-size: 18px;
    opacity: 0.8;
}
/* HERO LAYOUT */
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* TEXTO */
.hero-text h2 {
    font-size: 40px;
}

.hero-text h3 {
    color: #00eaff;
    height: 30px;
}

/* FOTO */
.hero-img img {
    width: 280px;
    border-radius: 50%;
    border: 3px solid #00eaff;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
    margin-bottom: 10px;
}

/* ANIMAÇÕES */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 0.8s forwards;
}

.delay { animation-delay: 0.5s; }
.delay2 { animation-delay: 0.8s; }
.delay3 { animation-delay: 1.1s; }

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* RESPONSIVO */
@media (max-width: 768px) {
    .header-content{
        padding: 0 20px;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: #0f172a;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    nav a {
        margin: 10px 0;
    }

    nav.ativo {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    h1 {
        margin: 0;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        order: 2;
    }

    .hero-img {
        order: 1; /* 👈 força a imagem ir pra cima */
        margin-bottom: 20px;
    }
}

.btn {
    background: #00eaff;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-outline {
    border: 2px solid #00eaff;
    color: #00eaff;
    padding: 10px 20px;
    border-radius: 8px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card {
    flex: 1;
    min-width: 150px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background: rgba(255,255,255,0.05);
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(0,255,255,0.6);
}

.card i {
    font-size: 50px;
    transition: 0.3s;
}

.card:hover i {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(0,255,255,0.8));
}

/* LINKS */
a {
    text-decoration: none;
    color: inherit;
}

.card a {
    color: #00eaff;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    /* RESET TOTAL DA TIMELINE */
    .timeline {
        position: relative;
    }

    .timeline::before {
        left: 15px !important;
        transform: none !important;
        width: 2px;
    }

    /* RESET DOS ITENS */
    .timeline-item {
        width: 100% !important;
        left: 0 !important;
        padding-left: 50px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    /* REMOVE POSICIONAMENTO DESKTOP */
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        left: 0 !important;
    }

    /* AJUSTE DA BOLINHA */
    .timeline-item::before {
        left: 7px !important;
        right: auto !important;
        transform: translateY(-50%);
    }

    /* CARD */
    .flip-card {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .formacao-card {
        width: 90%;
        max-width: 300px;
    }

}

.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.redes i {
    font-size: 40px;
    transition: 0.3s;
}

/* cores individuais */
.redes a:nth-child(1) i {
    color: #0A66C2; /* LinkedIn */
}

.redes a:nth-child(2) i {
    color: #fff; /* GitHub */
}

.redes a:nth-child(3) i {
    color: #E1306C; /* Instagram */
}

/* hover */
.redes i:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px currentColor);
}

/* TIMELINE */
.timeline {
    position: relative;
    margin-top: 40px;
}

/* linha central */
.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #00eaff;
    transform: translateX(-50%);
}

/* ITEM */
.timeline-item {
    width: 50%;
    padding: 20px;
    position: relative;
}

/* esquerda */
.timeline-item:nth-child(odd) {
    left: 0;
}

/* direita */
.timeline-item:nth-child(even) {
    left: 50%;
}

/* CARD */
.flip-card {
    width: 250px;
    height: 160px;
    perspective: 1000px;
    margin: auto;
}

/* INNER */
.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* VIRAR */
.flip-card:hover .flip-inner,
.flip-card.ativo .flip-inner {
    transform: rotateY(180deg);
}

/* FACES */
.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

/* frente */
.flip-front {
    background: rgba(255,255,255,0.05);
}

/* verso */
.flip-back {
    background: #0f172a;
    transform: rotateY(180deg);
    border: 1px solid #00eaff;
}

/* ANIMAÇÃO AO APARECER */
.timeline-item {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* ÍCONE DO CARD */
.icone {
    font-size: 28px;
    color: #00eaff;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 8px #00eaff);
}

/* FORMAÇÃO */
#formacao {
    background: #0f172a;
}

/* CONTAINER DOS CARDS */
.formacao-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

/* CARD */
.formacao-card {
    width: 260px;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(0,255,255,0.1);
}

/* ÍCONE */
.formacao-card i {
    font-size: 35px;
    color: #00eaff;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 8px #00eaff);
}

/* TÍTULO */
.formacao-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* TEXTO */
.formacao-card p {
    font-size: 14px;
    opacity: 0.8;
}

/* DATA */
.formacao-card span {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #00eaff;
}

/* HOVER */
.formacao-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,255,255,0.4);
}




/* IMAGEM */
.card-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}

/* CONTEÚDO */
.card-content {
    padding: 15px;
}

/* BOTÕES */
.card-botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-botoes a {
    font-size: 14px;
    color: #00eaff;
}

/* HOVER */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

.card:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

/* ===== PROJETOS ===== */

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

/* CARD */
.card-projeto {
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    backdrop-filter: blur(10px);
    position: relative;
}

/* EFEITO HOVER */
.card-projeto:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 0 20px rgba(0,234,255,0.4);
}

/* IMAGEM */
.card-projeto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* CONTEÚDO */
.card-projeto .conteudo {
    padding: 15px;
}

/* DESCRIÇÃO */
.card-projeto p {
    font-size: 14px;
    opacity: 0.8;
}

/* TECHS */
.techs {
    margin: 10px 0;
}

.techs span {
    background: rgba(0,234,255,0.2);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 12px;
}

/* BOTÕES */
.botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    background: #00eaff;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-outline {
    border: 1px solid #00eaff;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #00eaff;
    transition: 0.3s;
}

.btn-outline:hover {
    background: #00eaff;
    color: black;
}